<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="./script.js"></script>
    <div style="width: 190px; display: block;">
        รหัสหนังสือ<input type="text" name="" id="isbn">
        ชื่อหนังสือ<input type="text" name="" id="bookname">
        ประเภทหนังสือ<input type="text" name="" id="booktype">
        ชื่อผู้แต่ง<input type="text" name="" id="author">
        ราคาจำหน่าย<input type="text" name="" id="price">
        <button onclick="exec_ins()">เพิ่มหนังสือ</button>
    </div>
</body>
</html>